@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ONO</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Welcome to ONO</h2>
        <p>
            ONO is a social media website for photographers, videographers, visual artist, and those who are looking
            for photographers, videographers, visual arist etc for projects. Here you can explore talented and skilled
            people with similar interest and style. ONO will bring oppurtunities, friends, inspiration, and most
            importantly, a place where you can share work that you are passionate for.
        </p>
        </div>
</div>